body {
  color: #000080;
  column-count: 2;
  font-size: 10px;
}

a {
  color: #800080;
  font-size: 15px;
}

a:visited {
  color: #ff0000;
}

background-color {
  color: #ffffff;
}

span {
  font-size: 25px;
}

ul {
    -moz-column-count: 2;
    -moz-column-gap: 35px;
    -webkit-column-count: 2;
    -webkit-column-gap: 35px;
    column-count: 2;
    column-gap: 35px;
}

li {
  margin-bottom: 2em; 
}

header {
  text: bold;
  text-align: center;
}

div.border { 
  border-bottom: 1px solid #000; 
}

footer {
  font-size: 1;
}

div#berk {
  font-size: 10;
}

/**What is important to know when linking an external file (like a stylesheet) to an HTML file?**

That the relative path is correct.

**What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?**

Cleverly using class and ID tags can be tricky.

**What CSS did you use to modify the element style (like size, color, etc.)**

size, color, font, border spacing, border lines

**Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?**

Yes, both classes and IDs where we attempted to change the size of the text contained in a single line or paragraph. 

**When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?**
 
The site we created had much cleaner code. The actual code base was rampant with html styling code, which is not a best practice. Updating the content would be tedious.*/